* {
    margin:0; 
    padding:0; 
    box-sizing: border-box;
}

body {
    height: 100vh; 
    background: url("Images/mountainsDrawing.png");
    background-size: cover;
    position: relative;
   
}
.container {
    margin:1%; 
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

h1 {
    font-size: 3.5rem;
}
.top h3 {
    width: 80%; 
    font-size: 1.4rem;
}
.middle {
 padding-top: 20%

}
.links {
    position: absolute;
    top: 22%;
    left: 55%; 
    width: 20%; 
}
.links li {
    margin-bottom: 5px; 
    background-color: green;
    border-radius: 5px; 
    list-style: none;
    padding: 5px 15px; 
    text-align: center;
}
.links li a {
    text-decoration: none;
    color: yellow; 
    font-size: 1.4rem;
}
.links li:hover {
    background-color: rgb(6, 177, 212);
    font-weight: bold;
}
.gauchotext {
    position: absolute;
    top: 5%;
    left: 25%;
}
.gauchotext h3 {
    font-size: 1.3rem;
    width: 95%; 
}
#kiss {
    transform: scale(0.2);
    animation: kissing 3s ease-in-out forwards; 
    z-index: 2;
}

@keyframes kissing {
    0% {
        transform: scale(0.2);
    }
    25% {
        transform: scale(1);
    }

    35% {
        transform: scale(0.5);
    }
    45% {
        transform: scale(1);
    }
    55% {
        transform: scale(0.5);
    }
    65% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.5);
    }
    85% {
        transform: scale(1);
    }
     100% {
        transform: scale(0.43);
    }
}

.cow {
    position: absolute;
    top: 22%; 
    left: 20%; 
    z-index: 5;
}

.hide {
    display: none;
}

.gaucho {
    position: absolute;
    right:0; 
    top: 30%; 
}

.continue {
    color: white !important; 
}

/* gras */

.grass1 {
    position: absolute;
    top: 56.5%; 
    left: 43%; 
    z-index: 1;
    background-color: red;
    animation: swing 2s ease-in-out infinite;
    animation-direction: alternate;
    z-index: 2;
  }
  
  .grass1 i {
    position: absolute;
    top: 100%;
    height: 9vh;
    width: 5px;
    background-color: #42e93c;
    transform-origin: 50% 0%;
    animation: curl 2s ease-in-out infinite;
    animation-direction: alternate;
  }
  
  .grass1 i i {
    height: 30%;
  }
  
  @keyframes swing {
    from {
      transform: rotateZ(20deg);
    }
    to {
      transform: rotateZ(-20deg);
    }
  }
  
  @keyframes curl {
    from {
      transform: rotateZ(35deg);
    }
    to {
      transform: rotateZ(-35deg);
    }
  }
  .grass2 {
    position: absolute;
    top: 56.5%; 
    left: 42.3%; 
    z-index: 1;
    animation: swing2 2s ease-in-out infinite;
    animation-direction: alternate;
    z-index: 2;
  }
  .grass2 i {
    position: absolute;
    top: 100%;
    height: 9vh;
    width: 10px;
    background-color: #8df04b;
    transform-origin: 50% 0%;
    animation: curl2 2s ease-in-out infinite;
    animation-direction: alternate;
  }
  
  .grass2 i i {
    height: 40%;
  }
  
  @keyframes swing2 {
    from {
      transform: rotateZ(15deg);
    }
    to {
      transform: rotateZ(-15deg);
    }
  }
  
  @keyframes curl2 {
    from {
      transform: rotateZ(15deg);
    }
    to {
      transform: rotateZ(-15deg);
    }
  }