@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');
:root {
  --duration: 1.5s;
}

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  background-color: black;
  overflow: hidden;
  background-color: #28282a;
  opacity: 0.98;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #28282a 10px ), repeating-linear-gradient( #bbbdcf55, #bbbdcf );
}
.bg-spotlight {
  height: inherit;
  position: absolute;
  width: 100vw;
  background: radial-gradient(
      75% 35% at 50% 95%,
      rgba(80, 82, 98, 0.6) 20%,
      rgba(80, 82, 98, 0) 90%
    ),
    linear-gradient(rgba(28, 35, 50, 0) 0%, rgba(28, 35, 50, 1) 80%);
  z-index: -1;
}
.bg-spotlight:before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(
      50vw 60vw at 50% 70%,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(255, 255, 255, 0) 60%
    ),
    radial-gradient(
      35% 15% at 50% 85%,
      rgba(255, 255, 255, 0.09) 0%,
      rgba(255, 255, 255, 0) 100%
    );
 }

.wrapper {
  position: absolute;
  width: 40%;
  bottom: 70vh;
  left: 55%;
  transform: translateX(-50%);
}
.characters {
  position: absolute;
  width: 100%;
  animation: dancing 6s ease-in-out infinite; 
}
@keyframes dancing {
 0% {
  transform: rotateY(0deg);
 }
 33% {
  transform: rotateY(-180deg);
 }
 66% {
  transform: rotateY(180deg);
 }
 100% {
  transform: rotateY(0deg);
 }

}
.shadow {
  filter: brightness(0) blur(2px);
  opacity: 0.2;
  transform: skewX(-40deg);
  transform-origin: bottom;
  animation: movingShadow var(--duration) infinite alternate ease-in-out;
}
@keyframes movingShadow {
  from {
    transform: skewX(37.5deg);
  }
  to {
    transform: skewX(-37.5deg);
  }

}
.moon {
  height: 200px;
  position: absolute;
  top: -5px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  transform-origin: top;
  animation: movingMoon var(--duration) infinite alternate ease-in-out;
}

@keyframes movingMoon {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(45deg);
  }
}
.culture1 {
  position: absolute;
  height: 100vh; 
  color: white; 
  top: -100px; 
  left: -75%;
  width: 50%; 
  font-size: 1.3rem; 
}
.culture2 {
  position: absolute;
  height: 80vh; 
  color: white; 
  top: -50px; 
  right: -35%;
  width: 50%; 
  font-size: 1.2rem; 
}
h2 {
  font-family: "Love Light", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 40px; 
  margin-bottom: 2px; 
  }

li {
  list-style: none;
  padding: 2px; 
  border-left: 1px dotted orange; 
  border-bottom: 1px dotted orange;
  margin-bottom: 20px; 
}

a {
  text-decoration: none; 
  color: orange;
  font-size: 1.2rem; 
  cursor: pointer;
}

button {
  padding: 10px 25px; 
  color: white; 
  border: 1px solid white; 
  background-color: orange;
  border-radius: 5px;
  font-size: 1rem; 
  font-weight: 500; 
  cursor: pointer;
}
button:hover {
  background-color: orangered;
}